@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
	/* font-family:  Vedana, sans-serif; */
    background: #eee;

    font-family: Roboto;
    font-size: 18px;
    line-height: 1,6em;
    font-weight: normal;
    /* font: normal 20px 'Roboto',sans-serif; */
    /* text-decoration: underline ; */
    /* text-decoration: line-through; */
    /* font-style: italic; */
    /* letter-spacing: 2px; */
    /* word-spacing: 20px; */
}
header {
    font-family: Geneva;
}

header h1 {
     font-weight: bold; 
    }
header p {
    /* font-family: Geneva; */
    font-style: italic;
    font-size: 25px;
    }
nav {
    background-color: rgb(220, 236, 245);
}
footer {
    background-color: antiquewhite;
}
