@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
	/* font-family:  Vedana, sans-serif; */
    background: #eee;

    font-family: Roboto;
    font-size: 18px;
    line-height: 1,6em;
    font-weight: normal;
    /* font: normal 20px 'Roboto',sans-serif; */
    /* text-decoration: underline ; */
    /* text-decoration: line-through; */
    /* font-style: italic; */
    /* letter-spacing: 2px; */
    /* word-spacing: 20px; */
}
header {
    font-family: Geneva;
}

header h1 {
     font-weight: bold; 
    }
header p {
    /* font-family: Geneva; */
    font-style: italic;
    font-size: 25px;
    }
nav {
    background-color: rgb(220, 236, 245);
}
.table {
	width: 100%;
	border: none;
	margin-bottom: 20px;
}
.table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.table tbody td {
	text-align: left;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
.table thead tr th:first-child, .table tbody tr td:first-child {
	border-left: none;
}
.table thead tr th:last-child, .table tbody tr td:last-child {
	border-right: none;
}
.table tbody tr:nth-child(even){
	background: #f3f3f3;
}

footer {
    background-color: antiquewhite;
}
